* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-size: 18px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(228, 215, 215);
}

h1 {
    max-width: 940px;
    font-size: 2rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: 30px 0;
}

.App{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

.contenedor-principal{
    min-height: 600px ;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}